[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --country 'Sweden' --latest 30 --number 20 --protocol https --sort rate --save /etc/pacman.d/mirrorlist
