*.log
*.qcow2
.DS_Store
.luarc.json
.uuid
.vagrant/
.zcompdump
history
node_modules/
package-lock.json
packer_compiled.lua
result
tags
**/*/secrets.json
**/*/.terraform
**/*/.terraform.lock.hcl
**/*/*.tfstate
**/*/terraform.tfstate.backup
**/*/*.dec.json
named.conf.key
.env
