export PM_API_URL={{ proxmox_api.url }}
export PM_API_TOKEN_ID={{ proxmox_api.token_id }}
export PM_API_TOKEN_SECRET={{ proxmox_api.token_secret }}

export CLOUDFLARE_EMAIL={{ cloudflare.email }}
export CLOUDFLARE_API_TOKEN={{ cloudflare.api_token }}

export TF_VAR_CLOUDFLARE_ZONE_ID={{ cloudflare.zone_id }}

{% for record in cloudflare["records"] %}
export TF_VAR_{{ record.var_name }}_NAME={{ record.name }}
export TF_VAR_{{ record.var_name }}_CONTENT={{ record.content }}
{% endfor %}

