[user]
	name = dsn 
	email = dsn@dsnn.io 
[alias]
	ba   = "branch -a";
	bl   = "branch --list";
	br   = "branch -r";
	cb   = "rev-parse --abbrev-ref HEAD";
	cm   = "commit -m";
	cma  = "commit --amend --no-edit";
	co   = "checkout";
	cob  = "checkout -b";
	gpf  = "push --force-with-lease";
	la   = "!git config -l | grep alias | cut -c 7-";
	ls   = "log --pretty=format:'%h %Cblue%ad%Creset %an %Cgreen%s%Creset' --decorate --date=short -10";
	lg   = "log --pretty='%C(yellow)%h%Creset | %cd %d %s (%C(cyan)%an)' --date=format:'%Y-%m-%d %H:%M:%S' --graph";
	last = "!git log -''${1+}''${1-1} HEAD --pretty=format:'%h %Cblue%ad%Creset %an %Cgreen%s%Creset' --decorate --date=short -10";
	pr   = "!git checkout master;!git pull;git checkout @{-1};!git rebase master";
	pu   = "push -u origin $(git cb)";
	rba  = "rebase --abort";
	rbc  = "rebase --continue";
	rbi  = "rebase --interactive";
	st   = "status -s";
	undo = "reset HEAD^";
[core]
	editor = nvim
	pager = delta
[pull]
	rebase = true
