[user]
	name = dsn 
	email = dsn@dsnn.io 
  	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCblbdi9GiPOhBlH1aSn3+/0w8w7OVP+jNVbjX0iOf31WMJpyGi8X1ybsZfjrAQ2VoHuX/dN1BJlvOGO36PcDRsXDKE/+Db9VcJR8vzs4d1Nik8lbmjXgWHPv6Ig8SDVrqanV/6Yv9AbgZFqIbfqIsW41i/zkVt8wXYewATI6bjHs5gWox+5h/NBBu6bTCD1He4I8v6/1Dg3D/9o0fmhrwGOdd7W1zxPorjUC9uziUCc4uOnnTH5n1K59TvMYeUsdYtkToew7b1fJAsC1FY09GrgyQ+y+O07oGNLI9NyckEMIi+1hsSi3dNwLG2Y/lqcHM/YgdY3iez63h+W02tEuaF
[alias]
	ba   = "branch -a";
	bl   = "branch --list";
	br   = "branch -r";
	cb   = "rev-parse --abbrev-ref HEAD";
	cm   = "commit -m";
	cma  = "commit --amend --no-edit";
	co   = "checkout";
	cob  = "checkout -b";
	gpf  = "push --force-with-lease";
	la   = "!git config -l | grep alias | cut -c 7-";
	ls   = "log --pretty=format:'%h %Cblue%ad%Creset %an %Cgreen%s%Creset' --decorate --date=short -10";
	lg   = "log --pretty='%C(yellow)%h%Creset | %cd %d %s (%C(cyan)%an)' --date=format:'%Y-%m-%d %H:%M:%S' --graph";
	last = "!git log -''${1+}''${1-1} HEAD --pretty=format:'%h %Cblue%ad%Creset %an %Cgreen%s%Creset' --decorate --date=short -10";
	pr   = "!git checkout master;!git pull;git checkout @{-1};!git rebase master";
	pu   = "push -u origin $(git cb)";
	rba  = "rebase --abort";
	rbc  = "rebase --continue";
	rbi  = "rebase --interactive";
	st   = "status -s";
	undo = "reset HEAD^";
[core]
	editor = nvim
	pager = delta
[pull]
	rebase = true
[gpg]
  	format = ssh
[gpg "ssh"]
  	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
 	gpgsign = true