# {{ ansible_managed }}

alias vim='nvim'

# navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd ~"
alias home="cd ~"

# actions
alias mv='mv -v'
alias rm='rm -i -v'
alias rmd='rm -rf'
alias cp='cp -v'
alias df="df -h"
alias ka="killall"
alias mkdir="mkdir -pv"
alias rf="source ~/.zshrc"

# listing
alias l='ls -alh --color=auto'
alias ll='ls -alh --format=horizontal --color=auto'
alias la='ls -alh --color=auto'
alias lt='ls -alrth --color=auto'
alias ls='ls -hN --group-directories-first --color=auto'

# git
alias g="git"
alias gp="git push origin master"
alias gpf="git push --force-with-lease"
alias gl="git ls"
alias gs="git st"
alias gg="git pull"
alias ga="git add ."
alias gc="git commit -m"

# tmux
alias tl="~/bin/tm"

# ranger
alias r="ranger"
alias sr="sudo ranger"

# docker
alias dki="docker run -i -t -P --network host"
alias dkd="docker run -d -P"
alias dpa="docker ps -a"
alias di="docker images"
alias drm='docker rm $(docker ps -qa --no-trunc --filter "status=exited")'
alias drmi='docker rmi $(docker images -q -f dangling=true)'
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"
dalias() { alias | grep 'docker' | sed "s/^\([^=]*\)=\(.*\)/\1 => \2/"| sed "s/['|\']//g" | sort; }
dstop() { docker stop $(docker ps -a -q); }

# vagrant
alias vu='vagrant up'
alias vh='vagrant halt -f'
alias vd='vagrant destroy -f'
alias vs='vagrant ssh'
alias vp='vagrant provision'

# ansible
at() { ansible-playbook ~/projects/dotfiles/playbook.yml --inventory=~/projects/dotfiles/localhost-inventory --ask-become-pass --tags "$1" }
