if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi

if [ -d "$HOME/bin/cron" ] ; then
    export PATH="$HOME/bin/cron:$PATH"
fi

if [ -d "$HOME/bin/i3" ] ; then
    export PATH="$HOME/bin/i3:$PATH"
fi

if [ -d "$HOME/bin/polybar" ] ; then
    export PATH="$HOME/bin/polybar:$PATH"
fi

if [ -d "$HOME/bin/tools" ] ; then
    export PATH="$HOME/bin/tools:$PATH"
fi

# exports
export BROWSER=google-chrome-stable
export EDITOR=nvim
export VISUAL=nvim
export MANWIDTH=79

# fzf
export FZF_DEFAULT_COMMAND='fdfind --type f --hidden --follow'
export FZF_CTRL_T_COMMAND='$FZF_DEFAULT_COMMAND'
export FZF_ALT_C_COMMAND="fdfind --type d . $HOME"
export FZF_COMPLETION_OPTS='+c -x'

# spaceship prompt (install with npm)
# export SPACESHIP_CHAR_SYMBOL="%{\e[38;5;001m%}•%{\e[38;5;011m%}•%{\e[38;5;004m%}• "

# npm
# PATH="$PATH:$HOME/.node_modules/bin"
# export npm_config_prefix=~/.node_modules

# colored man pages
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;38;5;74m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[38;33;246m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[04;38;5;146m'
